function initDeadlyMap() {
    var deadly_quake = gon.deadly_quake;
    var tsunami = gon.tsunami;
    var earthquake_data = gon.earthquake_data
    console.log(deadly_quake)
    console.log(tsunami)
    console.log(earthquake_data)
    var mainmarker = {lat: parseFloat(deadly_quake.Longitude), lng: parseFloat(deadly_quake.Latitude) };
    var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 3, center: mainmarker});
    var contentString = `<div><h1>` + deadly_quake.Location + `</h1><p>` + deadly_quake.Date + `</p></div>`;
    var maininfowindow = new google.maps.InfoWindow({content: contentString});
    var mainmarkeronmap = new google.maps.Marker({position: mainmarker, map: map});
    mainmarkeronmap.addListener('click', function() {
        maininfowindow.open(map, mainmarkeronmap);
    });
    if (deadly_quake.tsunami_id != null){
        var tsunamimarker = {lat: parseFloat(tsunami.Latitude), lng: parseFloat(tsunami.Longitude) };
        var contentString = `Tsunami: <div><h1>` + tsunami.Location_Name + `</h1><p>` + tsunami.Date + `</p></div>`;
        var tsunamiinfowindow = new google.maps.InfoWindow({content: contentString});
        var tsunamimarkeronmap = new google.maps.Marker({position: tsunamimarker, map: map});
        tsunamimarkeronmap.addListener('click', function() {
            tsunamiinfowindow.open(map, tsunamimarkeronmap);
    });
    }
    if (earthquake_data != undefined){
        var datalength = earthquake_data.length
        var markers = [];
        for (var i = 0; i < datalength; i++){
            var contentString = `Other earthquake on the same day: <div><h1>` + `</h1><p>` + earthquake_data[i].Date + `</p></div>`;
            var pos = {lat: parseFloat(earthquake_data[i].Latitude), lng: parseFloat(earthquake_data[i].Longitude)};
            markers[i] = new google.maps.Marker({ position: pos, map: map, description: contentString, id: i });
            var infowindow = new google.maps.InfoWindow({content: contentString});
            google.maps.event.addListener(markers[i], 'click', function () {
                infowindow.open(map,markers[this.id] )
            })
        }
    }
}