function initTsunamiMap() {
    var tsunami = gon.tsunami;
    console.log(tsunami)
    var mainmarker = {lat: parseFloat(tsunami.Latitude), lng: parseFloat(tsunami.Longitude) };
    var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 3, center: mainmarker});
    var contentString = `<div><h1>` + tsunami.Location + `</h1><p>` + tsunami.Date + `</p></div>`;
    var maininfowindow = new google.maps.InfoWindow({content: contentString});
    var mainmarkeronmap = new google.maps.Marker({position: mainmarker, map: map});
    mainmarkeronmap.addListener('click', function() {
        maininfowindow.open(map, mainmarkeronmap);
    });
}