
<div id="chart" style="width:100%; height:400px;"></div>
<br><br><br><br>
 
<script type="text/javascript">
$(function () { 
    var myChart = Highcharts.chart('chart', {
            chart: {   
			   type: 'areaspline'	  
            },
            title: {
               text: 'Earthquake deaths over time'   
            }, 
            xAxis: {
				labels:
				{
					enabled: false
				},
			   
            },
            yAxis: {
               title: {
                  text: 'Deaths'
               }
            },
            tooltip: {
               shared: true,
               valueSuffix: ' units'
            },
            series: [
               {
				  showInLegend: false, 
                  name: 'Deaths',
                  data: <%=raw @deadly_count %>
               }
            ]
    });
});
</script>