<h1>Welcome to The Earthquake Guys!</h1>

<p>
Here you can find data for the deadliest earthquakes from 1965 to 2010 as well as other recorded
earthquakes and tsunamis in the same period. 
</p>

<p>
Feel free to roam around and check out our database and statistics. Remember you don't have to
search through the whole table row by row, our search feature is there for you. If you run out
of time you can still browse on the go on your mobile device and have as good of an experience.
</p>

<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyClU7PUBbMI4-klxKQPsCV3nL5HcqiyIX0" allowfullscreen>
</iframe>