<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<span class="navbar-brand mb-0 h1 hidden-md hidden-lg" style="font-size: 15px;">Deadliest earthquakes and tsunamis</span>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/deadly_quakes">Deadly earthquakes</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/earthquake_data">Earthquakes data</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="/tsunamis">Tsunamis</a>
      </li>
	  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Statistics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/chart1">Calamities by year</a>
          <a class="dropdown-item" href="/chart2">Earthquake deaths over time</a>
          <a class="dropdown-item" href="/chart3">Tsunami deaths over time</a>
        </div>
      </li>
    </ul>
  </div>
</nav>